{% extends "base.html" %}

{% block content %}

<div class="home-container">
    <header class="welcome-hero">
        <h1>Welcome to CozyCravings</h1>
        <div class="search-container">
            <input type="text" placeholder="What are your cravings for today?"/>
            <button>Search</buttonbutton>
        </div>
    </header>

    <div class="section-style">
        <h2>This Week’s Comfort Obsession</h2>
    </div>

    <div class="section-style recent-history">
        <h2>Your Recent Recipes</h2>
    </div>

    <div class="section-style recommendations">
        <h2>Recipes Picked For You</h2>
    </div>
    
</div>

{% endblock %}